@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,500,600,700);
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
body {
  font-family: 'Raleway',sans-serif;
  text-shadow: -1px 2px 2px rgba(60, 60, 60, 0.5);
  background: -webkit-linear-gradient(#fff, #E9E9E9, #fff);
  background: -moz-linear-gradient(#fff, #E9E9E9, #fff);
  background: linear-gradient(#fff, #E9E9E9, #fff); }

header {
  width: 700px;
  height: auto;
  padding: 4px 7px;
  box-shadow: 0 6px 6px 1px rgba(60, 60, 60, 0.5);
  border: 1px solid #00FFFF;
  background: -webkit-linear-gradient(90deg, #ccc, #E9E9E9);
  background: -moz-linear-gradient(90deg, #ccc, #E9E9E9);
  background: linear-gradient(90deg, #ccc, #E9E9E9);
  color: #000;
  margin: 0 auto;
  position: relative; }
  header h1 {
    font-weight: 500;
    font-size: 3em;
    text-align: center;
    text-shadow: -1px 3px 4px rgba(60, 60, 60, 0.5); }
  header #cart-container {
    float: right;
    margin-top: -35px; }
    header #cart-container .item-count {
      position: absolute;
      text-align: center;
      margin: -45px 0 0 -26px;
      background: #CE0000;
      border-radius: 50%;
      color: #fff;
      z-index: 1000;
      display: none;
      width: 25px;
      height: 25px;
      font-size: 20px;
      font-family: 'Roboto',sans-serif; }
    header #cart-container .open {
      cursor: pointer;
      color: #333;
      font-size: 24px; }
      header #cart-container .open:hover {
        color: #FFAA00;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        transform: scale(1.3); }
  header button {
    background: #333;
    color: white;
    background-image: linear-gradient(45deg, #ccc 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out;
    -moz-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
    cursor: pointer; }
    header button:hover {
      background: #333;
      color: #CE0000;
      border: 1px solid #00FFFF;
      background-position: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      opacity: .5; }
    header button:active {
      background: #CE0000;
      color: #fff; }

#shopping-cart {
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  display: none;
  position: absolute;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }
  #shopping-cart .cart-item-container {
    position: relative;
    margin-top: -30px;
    width: 650px;
    left: 50%;
    top: 150px;
    margin-left: -320px;
    padding: 40px 20px;
    box-shadow: -1px 4px 6px 1px rgba(30, 30, 30, 0.6);
    background: #000;
    overflow: auto;
    color: #fff;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    #shopping-cart .cart-item-container h4, #shopping-cart .cart-item-container h2 {
      text-transform: uppercase; }
    #shopping-cart .cart-item-container .cart-items {
      width: 580px;
      margin: 20px 20px; }
    #shopping-cart .cart-item-container .item-details {
      border-top: 1px solid #00FFFF; }
    #shopping-cart .cart-item-container i {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 26px;
      color: #ccc; }
      #shopping-cart .cart-item-container i:hover {
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        transform: scale(1.5);
        color: #CE0000; }
    #shopping-cart .cart-item-container .cart-total {
      width: 180px;
      height: 40px;
      border: 1px solid #00FFFF;
      padding: 5px 5px;
      font-size: 1.2em;
      box-shadow: -1px 4px 6px rgba(140, 140, 140, 0.5); }
  #shopping-cart img {
    width: 400px;
    height: 250px;
    box-shadow: 0 6px 6px 1px rgba(60, 60, 60, 0.5);
    -webkit-transition: all 4s ease-in-out;
    -moz-transition: all 4s ease-in-out;
    transition: all 4s ease-in-out;
    cursor: pointer;
    margin-top: 10px; }
    #shopping-cart img:hover {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      transform: rotateY(180deg); }
  #shopping-cart .remove-item {
    margin: 20px 0;
    color: #333;
    padding: 10px 10px;
    background-image: linear-gradient(45deg, #CE0000 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out;
    -moz-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out; }
    #shopping-cart .remove-item:hover {
      background: #999;
      color: #fff;
      border: 1px solid #00FFFF;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    #shopping-cart .remove-item:active {
      background: #CE0000;
      color: #fff; }

nav {
  width: 720px;
  height: auto;
  border: 1px solid #00FFFF;
  margin: 10px auto;
  background: -webkit-linear-gradient(90deg, #E9E9E9, #ccc);
  background: -moz-linear-gradient(90deg, #E9E9E9, #ccc);
  background: linear-gradient(90deg, #E9E9E9, #ccc);
  color: #fff;
  box-shadow: 0 6px 6px 1px rgba(60, 60, 60, 0.5);
  cursor: pointer; }
  nav li {
    padding: 5px 0;
    display: inline-block;
    margin-left: 12px;
    font-size: 1.3em;
    text-decoration: none; }
  nav a {
    color: #333;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif; }
    nav a:hover {
      text-decoration: none;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      color: #FFAA00; }
    nav a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      background: #FFAA00;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    nav a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      transform: scaleX(1); }
    nav a:focus {
      text-decoration: none;
      color: #00FFFF; }

#item-container .comment {
  margin-left: 150px;
  font-style: italic; }

#item-container .item-details {
  height: 300px;
  width: 160px; }

#item-container .item {
  border-right: 1px solid #333;
  margin-bottom: 10px;
  height: 450px; }
  #item-container .item button {
    background: #333;
    color: #fff;
    height: 50px;
    width: 120px;
    margin-top: 80px;
    margin-left: -10px;
    box-shadow: -1px 4px 6px 1px rgba(60, 60, 60, 0.5);
    background-image: linear-gradient(45deg, #ccc 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out;
    -moz-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out; }
    #item-container .item button:hover {
      background-position: 0;
      background: #999;
      color: #00FFFF;
      -webkit-transition: all 0.8s ease-in-out;
      -moz-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out;
      opacity: .6;
      border: 1px solid #00FFFF;
      box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.5); }
  #item-container .item h4 {
    text-transform: uppercase;
    height: 50px;
    font-family: 'Roboto', sans-serif; }
  #item-container .item .item-text {
    height: 250px; }
  #item-container .item .item-image {
    width: 150px;
    height: 120px; }
    #item-container .item .item-image img {
      margin: 5px auto;
      z-index: -1;
      box-shadow: 0 3px 3px 1px rgba(60, 60, 60, 0.5);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      cursor: pointer; }
      #item-container .item .item-image img:hover {
        box-shadow: 0 12px 12px 0 rgba(60, 60, 60, 0.5); }

.slider {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  .slider img {
    width: 610px;
    height: 410px; }
  .slider .gallery {
    position: relative;
    float: right;
    width: 600px;
    height: 400px;
    border: 1px solid #ccc;
    padding: 5px 5px;
    box-shadow: 0 6px 6px 1px rgba(60, 60, 60, 0.5);
    overflow: hidden; }
  .slider .copy {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    background: rgba(0, 0, 0, 0.5);
    color: #fff; }

/***
lightbox styling
***/
.overlay {
  display: none;
  background-image: url("images/search.jpg");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 2px;
  box-sizing: border-box;
  pointer-events: none; }
  .overlay p {
    font-family: 'Ubuntu', sans-serif;
    font-size: .7em;
    color: #00FFFF; }

@media screen and (min-width: 1100px) and (max-width: 1860px) {
  #item-container .item img {
    width: 230px;
    height: 135px; }
  #item-container .item .add {
    width: 200px; }
  #item-container .item-text {
    margin-top: 35px;
    width: 300px;
    height: 170px; } }

@media screen and (min-width: 980px) and (max-width: 1100px) {
  #item-container .item img {
    width: 190px;
    height: 130px; }
  #item-container .item-text {
    margin-top: 25px; } }

@media screen and (max-width: 980px) {
  #item-container .item img {
    width: 160px;
    height: 110px; }
  p {
    font-size: .9em; } }

@media screen and (max-width: 855px) {
  #item-container p {
    font-size: .8em; } }

@media screen and (max-width: 760px) {
  #item-container {
    width: 420px; }
    #item-container .item-text {
      width: 320px;
      height: 450px;
      margin-top: 120px;
      margin-left: 10px; }
    #item-container .item {
      border-bottom: 1px solid #000;
      border-right: none;
      height: 530px;
      width: 420px;
      margin-left: 20px; }
      #item-container .item:nth-child(5), #item-container .item:nth-child(9) {
        border-bottom: 1px solid #000; }
      #item-container .item .add {
        margin-top: 140px;
        margin-left: 10px; }
      #item-container .item img {
        width: 350px;
        height: 220px; }
      #item-container .item button {
        width: 300px;
        height: 60px; }
      #item-container .item p {
        font-size: 1.1em; }
      #item-container .item h4 {
        font-size: 1.8em; }
  nav {
    width: 80%;
    font-size: .7em; }
    nav li {
      margin-left: 23px; }
  header {
    width: 80%;
    font-size: .9em; }
  .cart-item-container {
    width: 500px; } }

@media screen and (max-width: 640px) {
  nav li {
    margin-left: 10px; } }
