@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,500,600,700);
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


$lt-grey: #ccc;
$md-grey: #999;
$dk-grey: #333;
$white: #fff;
$black: #000;
$off-white: #E9E9E9;
$red: #CE0000;
$blue: #00FFFF;
$orange: #FFAA00;

@mixin transition($value) {
  -webkit-transition: $value;
     -moz-transition: $value;
          transition: $value;
}
@mixin linear-gradient($direction, $top, $bottom) {
  background: -webkit-linear-gradient($direction, $top, $bottom);
     background: -moz-linear-gradient($direction, $top, $bottom);
          background: linear-gradient($direction, $top, $bottom);
}
@mixin transform($value) {
  -webkit-transform: $value;
     -moz-transform: $value;
          transform: $value;
}

body {
  font-family: 'Raleway',sans-serif;
  text-shadow: -1px 2px 2px rgba(60,60,60, 0.5);
  @include linear-gradient($white, $off-white, $white);
}
header {
  width: 700px;
  height: auto;
  padding: 4px 7px;
  box-shadow: 0 6px 6px 1px rgba(60,60,60, 0.5);
  border: 1px solid $blue;
  @include linear-gradient(90deg,$lt-grey, $off-white)
  color: $black;
  margin: 0 auto;
  position: relative;
  h1 {
    font-weight: 500;
    font-size: 3em;
    text-align: center;
    text-shadow: -1px 3px 4px rgba(60,60,60, 0.5);
  }
  #cart-container {
    float: right;
    margin-top: -35px;

    .item-count {
      position: absolute;
      text-align: center;
      margin: -45px 0 0 -26px;
      background: $red;
      border-radius: 50%;
      color: $white;
      z-index: 1000;
      display: none;
      width: 25px;
      height: 25px;
      font-size: 20px;
      font-family: 'Roboto',sans-serif;

    }
    .open {
      cursor: pointer;
      color: $dk-grey;
      font-size: 24px;
      &:hover {
        color: $orange;
        @include transition(all .3s ease-in-out);
        @include transform(scale(1.3));
      }
    }
  }
  button {
    background: $dk-grey;
    color: white;
    background: {
      image: linear-gradient(45deg, $lt-grey 50%, transparent 50%);
      position: 100%;
      size: 400%;
    }
    @include transition(background 500ms ease-in-out);
    cursor: pointer;

    &:hover {
      background: $dk-grey;
      color: $red;
      border: 1px solid $blue;
      background-position: 0;
      @include transition(all .3s ease-in-out);
      opacity: .5;
    }
    &:active {
      background: $red;
      color: $white;
    }
  }
}
//shopping cart
#shopping-cart {
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  display: none;
  position: absolute;
  z-index: 99;
  background: rgba(0,0,0,0.7);
  @include transition(0.5s ease-in-out);

  .cart-item-container {
    position: relative;
    margin-top: -30px;
    width: 650px;
    left: 50%;
    top: 150px;
    margin-left: -320px;
    padding: 40px 20px;
    box-shadow: -1px 4px 6px 1px rgba(30,30,30,0.6);
    background: $black;
    overflow: auto;
    color: $white;
    @include transition(all .3s linear);

    h4, h2 {
      text-transform: uppercase;
    }

    .cart-items {
      width: 580px;
      margin: 20px 20px;
    }
    .item-details {
      border-top: 1px solid $blue;
    }

    i {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 26px;
      color: $lt-grey;

      &:hover {
        @include transition(all .4s ease-in-out);
        @include transform(scale(1.5));
        color: $red;
      }
    }
    .cart-total {
      width: 180px;
      height: 40px;
      border: 1px solid $blue;
      padding: 5px 5px;
      font-size: 1.2em;
      box-shadow: -1px 4px 6px rgba(140,140,140, 0.5);
    }
  }
  img {
    width: 400px;
    height: 250px;
    box-shadow: 0 6px 6px 1px rgba(60,60,60, 0.5);
    @include transition(all 4s ease-in-out);
    cursor: pointer;
    margin-top: 10px;

    &:hover {
      @include transform(rotateY(180deg));
    }
  }
  .remove-item {
    margin: 20px 0;
    color: $dk-grey;
    padding: 10px 10px;
    background: {
      image: linear-gradient(45deg, $red 50%, transparent 50%);
      position: 100%;
      size: 400%;
    }
    @include transition(background 500ms ease-in-out)

    &:hover {
      background: $md-grey;
      color: $white;
      border: 1px solid $blue;
      @include transition(all .3s ease-in-out);
    }
    &:active {
      background: $red;
      color: $white;
    }
  }
}
//nav
nav {
  width: 720px;
  height: auto;
  border: 1px solid $blue;
  margin: 10px auto;
  @include linear-gradient(90deg,$off-white, $lt-grey)
  color: $white;
  // box-shadow: -1px 4px 6px 1px rgba(60,60,60, 0.5);
  box-shadow: 0 6px 6px 1px rgba(60,60,60, 0.5);
  cursor: pointer;

 li {
   padding: 5px 0;
     display: inline-block;
     margin-left: 12px;
     font-size: 1.3em;
     text-decoration: none;
 }
 a {
   color: $dk-grey;
   position: relative;
   font-weight: 500;
   text-transform: uppercase;
   font-family: 'Ubuntu', sans-serif;

   &:hover {
     text-decoration: none;
     @include transition(all .3s ease-in-out);
     color: $orange;
   }
   &:before {
     content: "";
     position: absolute;
     width: 100%;
     height: 1px;
     left: 0;
     bottom: 0;
     background: $orange;
     visibility: hidden;
     @include transform(scaleX(0));
     @include transition(all .2s ease-in-out);
   }
   &:hover:before {
     visibility: visible;
     @include transform(scaleX(1));
   }
   &:focus{
     text-decoration: none;
     color: $blue
   }
 }
}

//item container
#item-container {

  .comment {
    margin-left: 150px;
    font-style: italic;
  }
  .item-details {
    height: 300px;
    width: 160px;
  }
  .item {
    border-right: 1px solid $dk-grey;
    margin-bottom: 10px;
    height: 450px;

    button {
      background: $dk-grey;
      color: $white;
      height: 50px;
      width: 120px;
      margin-top: 80px;
      margin-left: -10px;
      box-shadow: -1px 4px 6px 1px rgba(60,60,60, 0.5);
      background: {
        image: linear-gradient(45deg, $lt-grey 50%, transparent 50%);
        position: 100%;
        size: 400%;
      }
      @include transition(background 500ms ease-in-out);

      &:hover {
        background-position: 0;
        background: $md-grey;
        color: $blue;
        @include transition(all .8s ease-in-out);
        opacity: .6;
        border: 1px solid $blue;
        box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.5);
      }
    }
    h4 {
      text-transform: uppercase;
      height: 50px;
      font-family: 'Roboto', sans-serif;
    }
    .item-text {
      height: 250px;
    }
    .item-image {
      width: 150px;
      height: 120px;

      img {
        margin: 5px auto;
        z-index: - 1;
        box-shadow: 0 3px 3px 1px rgba(60,60,60, 0.5);
        @include transition(all .5s ease-in-out);
        cursor: pointer;

        &:hover {
          box-shadow: 0 12px 12px 0 rgba(60,60,60,0.5);
        }
      }
    }

  }
}
.slider {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  img {
    width: 610px;
    height: 410px;
  }
  .gallery {
    position: relative;
    float: right;
    width: 600px;
    height: 400px;
    border: 1px solid $lt-grey;
    padding: 5px 5px;
    box-shadow: 0 6px 6px 1px rgba(60,60,60,0.5);
    overflow: hidden;
  }
  .copy {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    background: rgba(0,0,0,0.5);
    color: $white;
  }
}

/***
lightbox styling
***/
.overlay {
  display: none;
  background-image: url("images/search.jpg");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 2px;
  box-sizing: border-box;
  pointer-events: none;

  p {
    font-family: 'Ubuntu', sans-serif;
    font-size: .7em;
    color: $blue;
  }
}

//media queries
@media screen and (min-width: 1100px) and (max-width: 1860px) {
  #item-container {
    .item {

      img {
      width: 230px;
      height: 135px;
    }
    .add {
      width: 200px;
    }
  }
    .item-text {
      margin-top: 35px;
      width: 300px;
      height: 170px;
    }
  }
}
@media screen and (min-width: 980px) and ( max-width: 1100px) {
  #item-container {

    .item img {
      width: 190px;
      height: 130px;
    }
    .item-text {
      margin-top: 25px;
    }
  }
}
@media screen and (max-width: 980px) {
  #item-container .item img {
    width: 160px;
    height: 110px;
  }
  p {
    font-size: .9em;
  }
}
@media screen and (max-width: 855px) {
  #item-container {
    p {
      font-size: .8em;
    }
  }
}
@media screen and (max-width: 760px) {
  #item-container {
    width: 420px;

    .item-text{
      width: 320px;
      height: 450px;
      margin-top: 120px;
      margin-left: 10px;
    }
    .item {
      border-bottom: 1px solid $black;
      border-right: none;
      height: 530px;
      width: 420px;
      margin-left: 20px;

      &:nth-child(5), &:nth-child(9) {
        border-bottom: 1px solid $black;
      }
      .add {
        margin-top: 140px;
        margin-left: 10px;
      }
      img {
        width: 350px;
        height: 220px;
      }
      button {
        width: 300px;
        height: 60px;
      }
      p {
        font-size: 1.1em;
      }
      h4 {
        font-size: 1.8em;
      }
    }
  }
  nav {
    width: 80%;
    font-size: .7em;
    li {
      margin-left: 23px;
    }
  }
  header {
    width: 80%;
    font-size: .9em;
  }
  .cart-item-container {
    width: 500px;
  }
}
@media screen and (max-width: 640px) {
  nav {

    li {
      margin-left: 10px;
    }
  }
}
// @media screen and (max-width: 760px) {
//   header{
//     h1 {
//       margin-left: -80px;
//     }
//   }
//   nav {
//     font-size: .6em;
//   }
//   .overlay  {
//     p {
//       font-size: 2em;
//     }
//   }
//   #item-container {
//     height: auto;
//
//     .item {
//       height: 600px;
//
//      .item-text {
//        height: 400px;
//        width: 300px;
//        margin: 90px auto;
//
//        p {
//          margin-top: 25px;
//        }
//      }
//        .add {
//          margin: 140px 0 0 30px;
//
//        }
//     }
//   }
//
// }
// .bigbox {
//   width: 300px;
//   height: 400px;
//   border: 1px solid $dk-grey;
//   margin: 0 auto;
//   text-align: center;
//
//   .description {
//     height: 280px;
//     height: 340px;
//     border: 1px solid $lt-grey;
//     display: none;
//     position: absolute;
//   }
//   .review {
//     position: absolute;
//     height: 280px;
//     height: 340px;
//     border: 1px solid $lt-grey;
//     display: none;
//   }
//   button {
//     position: relative;
//     top: 85%;
//     width: 100px;
//     height: 40px;
//     background: $dk-grey;
//     color: $white;
//     margin-top: 10px;
//   }
// }
// div.lb-nav {
//   display: none;
// }
